<div>
  <button
      mat-icon-button
      (click)="add()">
    <mat-icon>
      add
    </mat-icon>
  </button>
</div>
<fs-zoom-pan
    [zoomMin]=".1"
    (zoomed)="zoomed($event)"
    #zoomPan>
  <div
      fsDiagram
      [config]="diagramConfig"
      (objectsAdded)="objectsAdded($event)"
      (connectionAdded)="connectionAdded($event)">
    @for (object of objects; track object; let index = $index) {
    @if (index === 0) {
      <div
        fsDiagramObject
        [targetable]="false"
        class="start-object"
        [x1]="60"
        [y1]="60"
        [data]="object"
        [scale]="scale"
        [id]="'startObject'"
        [draggable]="false">
      </div>
    } @else {
      <div
          class="object"
          fsDiagramObject
          (dragStop)="objectDragStop($event)"
          (dragStart)="objectDragStart($event)"
          (click)="objectClick($event)"
          [scale]="scale"
          [data]="object"
          [id]="object.id"
          [x1]="object.x1"
          [y1]="object.y1">
        <div class="buttons">
          <fs-menu class="simple-menu">
            <ng-template
                fs-menu-item
                (click)="addExternal(object)">
              Add External Link
            </ng-template>
            <ng-template
                fs-menu-item
                (click)="remove(object)">
              Delete
            </ng-template>
            <ng-template
                fs-menu-item
                (click)="repaint(object)">
              Repaint
            </ng-template>
            <ng-template
                fs-menu-item
                (click)="updateLabel(object)">
              Update Label
            </ng-template>
          </fs-menu>
        </div>
        <div>
          {{ object.name }}
        </div>
        <div
          fsDiagramSource
          placement="north">
        </div>
        <div
          fsDiagramSource
          placement="south">
        </div>
        <div
          fsDiagramSource
          placement="east">
        </div>
        <div
          fsDiagramSource
          placement="west">
        </div>
        <div
          fsDiagramSource
          placement="north-east">
        </div>
        <div
          fsDiagramSource
          placement="north-west">
        </div>
        <div
          fsDiagramSource
          placement="south-east">
        </div>
        <div
          fsDiagramSource
          placement="south-west">
        </div>
      </div>
    }
    }
  </div>
</fs-zoom-pan>